{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        // Keep prettier last so it overrides other configs correctly!
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "root": true
}